.form_heading {
    border: solid 1px #2f2f2f;
    min-width: 270px;
    max-width: 300px;
    height: auto;
    margin: 0;
}

.form_input {
    width: 300px;
    max-width: 292px;
}

label {
    float: left;
    font-size: 30px;
}
