{% extends "base.html" %}

{% block body %}
<body>

<div class = "div">
  <div><center>
    <form action="/personal_info" method="post">
      <p class = 'form_heading'>
        <label for="given_name">Given name:</label><br>
        <input type = "text" id = "given_name" class = "form_input" name = "given_name">
      </p>
      <p class = 'form_heading'>
        <label for= "family_name">Family name:</label><br>
        <input type = "text" id = "family_name" class = "form_input" name = "family_name">
      </p>
      <p class = 'form_heading'>
        <label for= "age">Age:</label><br>
        <input type="number" id = "age" class = "form_input" name = "age">
      </p>
      <button type = 'submit' id = "submit" class = "submit" onclick = login()>Submit</button>
    </form>

  </center></div>
</div>


</body>
{% endblock body %}
