{% extends "base.html" %}

{% block body %}
<body>
<div class="div"><center>
  <div>

      <form action="/signup" method="post">
        <p class='form_heading'>
          <label for="email">Email:</label><br>
          <input type="email" id="email" class="form_input" name="email">
        </p>
        <p class='form_heading'>
          <label for="username">Username:</label><br>
          <input type="text" id="username" class="form_input" name="username">
        </p>
        <p class='form_heading'>
          <label for="password">Password:</label><br>
          <input type="password" id="password" class="form_input" name="password">
        </p>
        <p class='form_heading'>
          <label for="conf_password">Confirm Password:</label><br>
          <input type="password" id="conf_password" class="form_input" >
        </p>
        <button type='submit' id="submit" class="submit" onclick=login()>Submit</button>
      </form>

  </div>
</center></div>
</body>
{% endblock body %}